<html>
    <body>
        
        <head> 
            <link rel="stylesheet" href="style.css">
            
        </head>

        <header class="forgetPassword-form">
            <h1 class="forgetPassword-form1"> Forget Password </h1>
            <form onsubmit="forgetPassword(event)">
                <label> Fill Email </label>
                <br>
                <input id="email" type="email" name="email" style="width: 20rem; height: 2rem" required/>
                <br>
                <button class="submit-button" onclick="forgetPassword"> Submit </button>
            </form>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <script>
        axios.defaults.headers.common["Authorization"] = localStorage.getItem("token")
        ? localStorage.getItem("token")
        : "";
        function forgetPassword(event) {
            event.preventDefault();
            const token = localStorage.getItem('token');
            const email = event.target.email.value;
            console.log(email)
            console.log(token)
            const obj = {
                email,
            };
            console.log(obj, " obj email")
            axios.post("http://localhost:7000/password/forgotpassword", obj,  {headers: { 'Authorization': token}})
            .then((response) => {
                console.log(response, "forgetpassword details")
                alert("link send to the Email");
                location.reload();
            })
            .catch((error) => {
                console.log(error)
                console.log(JSON.stringify(error));
            }); 
        }
    </script>
    </body>
</html>
