body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(42, 197, 107); */
    background-image: url('https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover; 
  }
   
  /* .signup-form {
    width: 500px;
    margin: 5rem auto;
    text-align: center;
    background-color: rgb(188, 18, 18);
    padding: 1rem;
    border: 10px solid rgb(71, 64, 64);
    border-radius: 0rem;
    margin-bottom: 4rem;
  } */
  
  .form-group {
    background-image: linear-gradient(burlywood, rgb(237, 237, 111));
    background-color: burlywood;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5rem;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 5rem;
  }

  .form-group2 {
    background-image: linear-gradient(burlywood, rgb(237, 237, 111));
    background-color: burlywood;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5rem;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 5rem;
  }

  .forgetPassword-form {
    background-image: linear-gradient(burlywood, rgb(237, 237, 111));
    background-color: burlywood;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5rem;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 5rem;
  }
  

  input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid rgb(103, 114, 211);
    margin-bottom: 1rem;
  }
  
  .submit-button { font-size: x-large;
    size: 1rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 50%, 96%);
    color: rgb(240, 14, 14);
    cursor: pointer;
    margin-top: 20px;
    /* hi */
  }

  .login-button { font-size: x-large;
    size: 1rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 50%, 96%);
    color: rgb(240, 14, 14);
    cursor: pointer;
    margin-top: 20px;
    /* hi */
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .premium-button {
    background-image: linear-gradient(rgb(131, 205, 217), rgb(237, 237, 111));
    font-size: 20px;
    text-align: center;
    margin-left: 60rem;
  } 


  